{% extends "base_log.html" %}

{% block title %}
<title> BITOC </title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
  <form>
    <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
<select class="form-select" aria-label="Default select example">
  <option value="1">Bitcoin</option>
  <option value="2">Solana</option>
  <option value="3">Ethereum</option>
</select>
    </div>
      <div class="form-floating">
     <input type="file" name="avatar">
      </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>

  </form>
</div>
{% endblock %}